h1,
li,
ul {
    color: goldenrod;
    display: inline-block;
    margin: 0 auto;
    padding-top: 6px;
}

h1 {
    padding-left: 30px;
    font-size: 50px;
    padding-top: 15px;
}

h2 {
    color: goldenrod;
}

h5 {
    color: goldenrod;
}

ul {
    float: right;
    padding-right: 30px;
}

li {
    padding-left: 30px;
    padding-right: 30px;
}

li:hover {
    color: grey;
}

body {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: block;
    text-align: center;
    width: 100%;
}

h6 {
    text-align: center;
    float: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}