<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <nav>
        <h1>KTRU</h1>
        <ul>
            <li><a href="/genres"><h3>Genres</h3></a></li>
            <li><a href="/styles"><h3>Styles</h3></a></li>
            <li><a href="/artists"><h3>Artists</h3></a></li>
            <li><a href="/labels"><h3>Labels</h3></a></li>
            <li><a href="/decades"><h3>Decades</h3></a></li>
            <li><a href="/thestacks"><h3>The Stacks</h3></a></li>
        </ul>
        </nav>
        {% block content %} {% endblock content %}
    </body>
    <footer>
        <h5>96.1 KTRU   |   Made by Matthew Bitz</h5>
    </footer>
</html>