<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="header-content">
            <div class="logo-content">
                <h1>KTRU</h1>
            </div>

            <div class="profile-navigation-content">
                <div class="profile-content">
                    <h4>Profile</h4>
                </div>

                <div class="navigation-content">
                    <h2>Genres</h2>
                    <h2>Styles</h2>
                    <h2>Artists</h2>
                    <h2>Decades</h2>
                    <h2>The Stacks</h2>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="dashboard-content">
                <h1>Dashboard</h1><br>
            </div>

            <div class="stacks-content">
                <pre>                                                                                                         -=========|-===========|-=========:                        
                                                                                                         ==========|============|==========-                        
                                                                                                  ::::: :--::-----|-----:------|---:-----:::::::                  
                                                                                                 :+==++:                                  :===+==:                 
                                                                                                 :====+:                                  :===+==:                 
                   /`````````````\              /```\   /```\                                    :=++==:          ------- -----:          :==++==:                 
                   |==+:====+--=+|              |=+-|   |===|                                    :==+==:           ====+=:=====-          :===+=+:                 
   ___        ____ \___:-----:___/ ___________  |--:|   |---|                                    -------          :=+==+=:+=++=-          --------                 
 |=====\    |=====|    |==+==|    |===:=======\ |==-|   |===|                                    :+====:          :=+==+=:==+==-          :======:                 
 |=++=+|    |=++==|    |==+==|    |==+:=======| |+=-|   |==+|                                    :==++=:           ====+=:==+==-          :==++=+:                 
 |-----|    |-----|    |-----|    |---:::::---| |--:|   |---|                                    :==+==:          ------- -----:          :==+===:                 
 |=====|    |====+|    |====+|    |===:    :==| |==-|   |===|                                    :=+===:           ==+===:+===+-          ====+==:                 
 |-----\____/,,,,,/    |-----|    |---:::::___| |--:|   |---|                                    \_____:          :===+==:===+=-          --------                 
 |=====--===|          |=====|    |===:===/     |==-|   |===|                                                     ===+=+=:+=+==-          :======:                 
 |==+==--=+=|          |==+==|    |==+:===\     |+=-\___/==+|                                                     ==+====:=+===-          :===+==:                 
 |----- ____ `````\    |-----|    |---::::::==| |--::--- ---|                                                      ------ -----:          :==++==:                 
 |====+/    \=====|    |====+|    |===|    |==| |==--===:===|                                                                             :===+=+:                 
 |=====|    |=====|    |=====|    |===|    |==| \___________/                                                                             :-=====:                 
   |=====|    |=====|     `````     |===|    |==|                                                           |=========|============|-=========:                        
   |=====|    |=====|               |===|    |==|                                                           |=========|====+=====+=|=========+-                        
   \_____/    \_____/               \___/    \__/                                                           \--::-----|-----::-----|----:---:::                        
                                                                               
                                                                               
                                                                ------------|----------:                                   
                                                                ==+==+==+=-=|+==+==+==+-                                   
                                                                :---:-------|----:-----:                                   
                                                                               
                                                                               
                        :---------::---------:           :----- ---::---                                                                                           
                        -=========--=========-           :--===:===--===                                                                                           
                       ::::::---------::---------:             :--===--::--- :::                                                 :::::          ----- ------|--- ------       
                       -======-                                                -=+===:                                           |=====|        :============|-=========:       
                       -==++=+-                                                ==+==+:                                           |=++==|        :=++=++==++=+|-=+++=++=+:       
                      -==+==-                                                 -------                                           |==+==|         ------------|----------       
                  ===+==-                                                 ===-+=:                                           |==+==|                                   
                  --==--:                                                 =-+-==:                                           -------                                   
                  ======-                                                 -------                                           |=====|                                   
                  =====+-                                                 ==--==:                                           |=====|                                   
                  -=+===-                                                 =--+=-:                                           |=++==|                                   
                  ==++==-                                                 -------                                           |==+==|                                   
                  -=====-                                                 ==+===:                                           |=====|                             _____ 
                  ==-==:                                                  ===++=:                                            :::::                             |-----|
                  ======-                                                 -------                                                                              |=====|
                  -=++==-                                                 =-==--:                                                                              |==+==|
                  ==+==+-                                                 ===--=:                                                                              |=++==|
                  =====+-                                                 -------                                                                              |====+|
                  -----:                                                  =-==--:                                                                               ----- 
   ==+===-                                                 ===-+=:                                                                      
   ==+==+-                                                 =-==--:                                                                      
   ==+==+-                                                 ===--=:                                                                      
   ==+===-                                                 ==-+=+:                                                                      
 :::::::--- -----::--- -----::--- --- :--::--- ---::--- :::                                                                       
     -===:=====--===:=====--===:===:====:===:===--===                                                                           
     -=+=:==+==--+==:==+==--=+=:==+:====:+==:===--=+=                                                                           
     -===:=====--===:=====--===:===:-==-:===:===--===                                                                           </pre>
            </div>
        </div>
    </body>

    <footer>
        <div class="footer-content">
            <h4>KTRU 96.1 | Made by Matthew Bitz</h4>
        </div>
    </footer>
</html>