{% extends 'base.html' %}

{% block content %}
            <div class="stacks-content">
                <pre>                                                                                                         -=========|-===========|-=========:                        
                                                                                                         ==========|============|==========-                        
                                                                                                  ::::: :--::-----|-----:------|---:-----:::::::                  
                                                                                                 :+==++:                                  :===+==:                 
                                                                                                 :====+:                                  :===+==:                 
                   /`````````````\              /```\   /```\                                    :=++==:          ------- -----:          :==++==:                 
                   |==+:====+--=+|              |=+-|   |===|                                    :==+==:           ====+=:=====-          :===+=+:                 
   ___        ____ \___:-----:___/ ___________  |--:|   |---|                                    -------          :=+==+=:+=++=-          --------                 
 /=====\    |=====|    |==+==|    |===:=======\ |==-|   |===|                                    :+====:          :=+==+=:==+==-          :======:                 
 |=++=+|    |=++==|    |==+==|    |==+:=======| |+=-|   |==+|                                    :==++=:           ====+=:==+==-          :==++=+:                 
 |-----|    |-----|    |-----|    |---:::::---| |--:|   |---|                                    :==+==:          ------- -----:          :==+===:                 
 |=====|    |====+|    |====+|    |===:    :==| |==-|   |===|                                    :=+===:           ==+===:+===+-          ====+==:                 
 |-----\____/,,,,,/    |-----|    |---:::::___| |--:|   |---|                                    \_____:          :===+==:===+=-          --------                 
 |=====--===|          |=====|    |===:===/     |==-|   |===|                                                     ===+=+=:+=+==-          :======:                 
 |==+==--=+=|          |==+==|    |==+:===\     |+=-\___/==+|                                                     ==+====:=+===-          :===+==:                 
 |----- ____ `````\    |-----|    |---::::::==| |--::--- ---|                                                      ------ -----:          :==++==:                 
 |====+/    \=====|    |====+|    |===|    |==| |==--===:===|                                                                             :===+=+:                 
 |=====|    |=====|    |=====|    |===|    |==| \___________/                                                                             :-=====:                 
   |=====|    |=====|     `````     |===|    |==|                                                           /=========|============|-=========:                        
   |=====|    |=====|               |===|    |==|                                                           |=========|====+=====+=|=========+-                        
   \_____/    \_____/               \___/    \__/                                                           \--::-----|-----::-----|----:---:::                        
                                                                               
                                                                               
                                                                /-----------|----------\                                   
                                                                |=+==+==+=-=|+==+==+==+|                                   
                                                                \---:-------|----:-----/                                   
                                                                               
                                                                               
                        :---------::---------:           :----- ---::---                                                                                           
                        -=========--=========-           :--===:===--===                                                                                           
                       ::::::---------::---------:             :--===--::--- :::                                                 :::::          ----- ------|--- ------       
                       -======-                                                -=+===:                                           |=====|        :============|-=========:       
                       -==++=+-                                                ==+==+:                                           |=++==|        :=++=++==++=+|-=+++=++=+:       
                      -==+==-                                                 -------                                           |==+==|         ------------|----------       
                  ===+==-                                                 ===-+=:                                           |==+==|                                   
                  --==--:                                                 =-+-==:                                           -------                                   
                  ======-                                                 -------                                           |=====|                                   
                  =====+-                                                 ==--==:                                           |=====|                                   
                  -=+===-                                                 =--+=-:                                           |=++==|                                   
                  ==++==-                                                 -------                                           |==+==|                                   
                  -=====-                                                 ==+===:                                           |=====|                             _____ 
                  ==-==:                                                  ===++=:                                            :::::                             |-----|
                  ======-                                                 -------                                                                              |=====|
                  -=++==-                                                 =-==--:                                                                              |==+==|
                  ==+==+-                                                 ===--=:                                                                              |=++==|
                  =====+-                                                 -------                                                                              |====+|
                  -----:                                                  =-==--:                                                                               ----- 
   ==+===-                                                 ===-+=:                                                                      
   ==+==+-                                                 =-==--:                                                                      
   ==+==+-                                                 ===--=:                                                                      
   ==+===-                                                 ==-+=+:                                                                      
 :::::::--- -----::--- -----::--- --- :--::--- ---::--- :::                                                                       
     -===:=====--===:=====--===:===:====:===:===--===                                                                           
     -=+=:==+==--+==:==+==--=+=:==+:====:+==:===--=+=                                                                           
     -===:=====--===:=====--===:===:-==-:===:===--===                                                                           </pre>
            </div>
{% endblock content %}